<head id="Head1" runat="server">
    <title></title>
    <link href="stylesheet.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript">
        function getData() {
            var SesVar = '<%= Session("user_name") %>';
            if (SesVar) {               
                document.getElementById("userID").innerHTML = "Welcome, " + SesVar.toString();
            }
        }
    </script>
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>

<header style="padding-top:10px;">
    <p style="color: white" id="userID"></p>
    <div class="header">
        <div style="color: #FBFBF8">
            <h1>ALPHA PHARMACY</h1>
        </div>
    </div>
    
</header>
<body onload="getData()">
    <form id="form1" runat="server">
        <div>
            <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
            </asp:ContentPlaceHolder>
        </div>
    </form>
</body>
<br />
<footer class="footer">
    <div class="div" style="color:#FBFBF8; height: 25px;">
        This project is made by: <br />
        SALMAN LAYEK
    </div>
</footer>
