<head id="Head1" runat="server">
    <title></title>
    <link href="stylesheet.css" rel="stylesheet" type="text/css" />
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>

<header style="padding-top:30px;">
    <div class="header">
    <div style="color:#FBFBF8">
        <h1>ALPHA PHARMACY</h1>
    </div>
        </div>
    <div style= "padding-top:10px;"></div>
    
</header>
<body>
    <form id="form1" runat="server">
        <div>
            <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
            </asp:ContentPlaceHolder>
        </div>
    </form>
</body>
<br />
<footer class="footer">
    <div class="div" style="color:#FBFBF8; height: 25px;">
        This project is made by: <br />
        SALMAN LAYEK
    </div>
</footer>
