
body {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
    background: url(images/7091.jpg) center;
    /*inear-gradient(#2095a1, #dce6e8);*/
    font-size: 14px;
    color: #405A67;
    height: 207px;
}

td {
    padding: 5px;
}
.div {
    padding-bottom: 10px;
}

.outputpage {
    color: white;
    background: url(images/image2.jpg) center;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
}

.home12 {
    text-align: center;
    background: url(images/7071.jpg) center;
}

.customer {
    color: white;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 190px;
}

.Medicine {
    text-align: center;
    background: url(images/7091.jpg) center;
    text-transform: uppercase;
}
.Medicinepanel {
    color: white;
    text-align:center;
    color:black;
}
.dealerpanel {
    color: white;
    text-align: center;
    color: black;
}  

{
    color: white;
    text-align: center;
    color: black;
}
}

.signup {
    color: white;
    text-align: center;
    color: black;
}

h1, h2, h3 {
    margin: 0;
    font-weight: normal;
    text-transform: uppercase;
}

h1 {
    letter-spacing: -1px;
    font-size: 44px;
}

h2 {
    font-size: 28px;
}

h3 {
    font-size: 16px;
}

/* Header */

.header {
    background: linear-gradient(to right,#052637, #ACD9DF);
    /*linear-gradient(to right, #052637, #dce6e8);*/
    text-align: center;
    padding-top: 10px;
    text-transform: uppercase;
}
.header1 {
    background-image: linear-gradient(to right,#052637, #ACD9DF);
    text-align: center;
    padding-top: 5px;
    text-transform: uppercase;
}

.menuCustom {
    padding-left: 24%;
    padding-top: 15px;
}


/* Footer */

.footer {
    background: linear-gradient(to right,#052637, #ACD9DF);
    text-align: center;
    position: absolute;
    bottom: 0;
    color: #FBFBF8;
    width: 100%;
    height: 2.5rem;
}
.footerImage {
    background: url(images/7129.jpg) center;
}

.invoice-title h2, .invoice-title h3 {
    display: inline-block;
}

.table > tbody > tr > .no-line {
    border-top: none;
}

.table > thead > tr > .no-line {
    border-bottom: none;
}

.table > tbody > tr > .thick-line {
    border-top: 2px solid;
}

.whitepanel {
    overflow: hidden;
    background-color: #E7F7F9;
    position: relative;
    padding: 20px 2px 20px 5px;
    border-radius: 12px;
    box-shadow: 5px 10px 10px #052637;
    font-family: Helvetica, Arial, sans-serif;
}
.signup {
    left: 0%;
    width: 99%;
    top: 2px;
    height: 462px;
}
.login {
    left: 40%;
    width: 23%;
}
.homepanel {
    left: 40%;
    width: 450px;
}
.medicinepanel1 {
    left: 40%;
    width:800px;
}
.employpanel {
    left: 40%;
    width: 850px;
}
.dealerpanel1 {
    left: 50%;
    width: 450px;
}
.purchasepanel {
    left: 40%;
    width: 450px;
}
.aboutpanel {
    left: 40%;
    width: 700px;
}
.buttonBorder {
    border: 2px solid white;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 8px;
    box-shadow: 0 10px 50px #052637;
    cursor: pointer;
}

.buttonBorderSmall {
    border: 2px solid #052637;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 8px;
    cursor: pointer;
}
