<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <!-- <add name="dbConnection" connectionString="Data Source=localhost; Initial Catalog = AlphaPharmacy; Integrated Security = True" providerName="System.Data.SqlClient"/>
   enable below config for release-->
    <add name="dbConnection" connectionString="workstation id=AlphaPharmacy.mssql.somee.com;packet size=4096;user id=Hasan88_SQLLogin_1;pwd=awxlkang8f;data source=AlphaPharmacy.mssql.somee.com;persist security info=False;initial catalog=AlphaPharmacy" /> 
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
  <system.web>
    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>
    <compilation targetFramework="4.7.2" debug="true"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
    <customErrors mode="Off"/>
    <globalization culture="en-NZ" uiCulture="en-AU"/>
  </system.web>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2147483644"/>
      </webServices>
    </scripting>
  </system.web.extensions>
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="Frontpage.aspx"/>
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>
<!--ProjectGuid: 1F147902-D033-42A3-8B47-B3933F07AAF1-->